
<div class="container d-flex flex-column justify-content-center">        

  <%
    if(success.length > 0){
  %>
    <div id="flash" class="alert alert-success d-flex justify-content-between" style="text-align:center;">
      <%= success %>
    <button id="delete">X</button>
    </div>
  <%
    }
  %>

  <%if(user.role == 'admin'){%>
    <div class="flex mt-8">
    <a href="" class="bg-green-700 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded mr-8">Tất cả đất</a>
    <a href="/requestAllTransferLand" class="bg-green-700 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">Tất cả yêu cầu chuyển đất</a>
    </div>
 <%}%>

  <% if(menu.length > 0) {%>
  <table class="table table-striped mt-6">
    <thead>
      <tr>
        <% if(user.role == 'user'){ %>
          <th>Mã</th>
          <th>Thời gian đăng ký</th>
          <th>Trạng thái</th>
          <th>Sửa thông tin</th>
          <th>Chuyển quyền sở hữu</th>
        <% }else{%>
          <th>Mã</th>
          <th>Email</th>
          <th>Họ tên</th>
          <th>CMND/CCCD</th>
          <th>Thời gian đăng ký</th>
          <th>Cập nhật trạng thái</th>
        <%}%>
      </tr>
    </thead>
    <tbody>
      <% for(var element of menu){ %>
       <tr>
         <% if(user.role == 'user'){ %>
            <td><%= element.key %> </a></td> 
            <td><%= element.value.ThoiGianDangKy %></td>
            <td><%= element.value.Status %></td>
            <%if(element.value.Status == "Chưa duyệt"){%>
              <td> <a href="./detail/<%= element.key %>" class="bg-blue-700 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Sửa đổi thông tin</a> </td>
            <%}else{%>
              <td class="text-red-700">Không thể sửa đổi thông tin</td>
            <%}%>
            <td>
              <% if(element.value.Status == "Đang chuyển"){ %>
                 <p class="text-green-700">Đất đang chuyển nhượng</p>
              <%}else if(element.value.Status == "Chưa duyệt"){%>
                <p class="text-red-700">Đất chưa được duyệt không thể chuyển</p>
              <%}else{%>
                  <a href="./detail/<%= element.key %>" class="bg-green-700 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">Chuyển quyền sở hữu</a>
              <%} %>
            </td>

          <% }else{%>
            <td> <a href="./detail/<%= element.Key %>"><%= element.key %> </a></td>
            <td><%= element.value.UserId %></td>
            <td><%= element.value.Owner %></td>
            <td><%= element.value.IdentityCard %></td>
            <td><%= element.value.ThoiGianDangKy %></td>
            <%if(element.value.Status == "Đang chuyển"){%>
                <td class="text-green-700">Đất đang được chuyển</td>
            <%}else{%>

                 <td>
                              <div class="relative">
                                <form id="formUpdateLand" action="/updateStatusLandAdmin" method="POST">
                                  <input type="hidden" name="key" value=<%= element.key %> />
                                  <input type="hidden" name="userId" value=<%= element.value.UserId %> />
                                  <select name="status" data-toggle="modal" data-target="#<%= element.key %>" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-1 px-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                                    <option 
                                    <%= 
                                              element.value.Status === "Chưa duyệt" ? "selected" : ""
                                    %> 
                                    >Chưa duyệt</option>
                                    <option 
                                      <%= 
                                              element.value.Status === "Đã duyệt" ? "selected" : ""
                                    %> 
                                    >Đã duyệt</option>
                                  </select>
                                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center text-gray-700">
                                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                  </div>
                                              <!-- Modal -->
                            <div class="modal fade" id=<%= element.key %> tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Cập nhật trạng thái</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body" id="<%= element.key%>">
                                    Bạn muốn cập nhật trạng thái mã đất <%= element.key%>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button id="updateLand" onclick="this.form.submit()" type="button" class="btn btn-primary">Save changes</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                                </form>

                              </div>
                          </td>
            <%}%>
            
          <%}%>
            </tr>


      <%}%>
      </tbody>
   
  </table>
      <%}else{%>
        <a href="/addAsset" class="btn btn-outline-success mt-32">Bạn chưa có đất , Đăng ký ngay !</a>
        <%}%>

</div>





<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->




 <script>
   if(document.getElementById("delete")){
    document.getElementById("delete").addEventListener("click",function(){
      document.getElementById("flash").remove()
    })
   }

   document.getElementById("updateLand").addEventListener('click',function(){
     document.getElementById("formUpdateLand").submit();
   })



 </script>