


  <%
    if(success.length > 0){
  %>
    <div id="flash" class="alert alert-success d-flex justify-content-between" style="text-align:center;">
      <%= success %>
    <button id="delete">X</button>
    </div>
  <%
    }
  %>

  <%if(user.role == 'admin'){%>
    <div class="flex mt-8">
    <a href="" class="bg-green-700 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded mr-8">Tất cả đất</a>
    <a href="/requestAllTransferLand" class="bg-green-700 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">Tất cả yêu cầu chuyển đất</a>
    </div>
 <%}%>

 <div class="container d-flex flex-column justify-content-center" style="background: rgba(0, 0, 0, 0.8); min-height: 550px;">        
  <div class="s002">
    <form>
      <div class="inner-form">
        <div class="input-field first-wrap">
          <div class="icon-wrap">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
            </svg>
          </div>
          <input id="search" type="text" placeholder="What are you looking for?" />
        </div>
        <div class="input-field second-wrap">
          <div class="icon-wrap">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
            </svg>
          </div>
          <input class="datepicker" id="depart" type="text" placeholder="29 Aug 2018" />
        </div>
        <div class="input-field third-wrap">
          <div class="icon-wrap">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
            </svg>
          </div>
          <input class="datepicker" id="return" type="text" placeholder="30 Aug 2018" />
        </div>
        <div class="input-field fouth-wrap">
          <div class="icon-wrap">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
            </svg>
          </div>
          <select data-trigger="" name="choices-single-defaul">
            <option placeholder="">2 Adults</option>
            <option>3 Adults</option>
            <option>4 Adults</option>
            <option>5 Adults</option>
          </select>
        </div>
        <div class="input-field fifth-wrap">
          <button class="btn-search" type="button">SEARCH</button>
        </div>
      </div>
    </form>
   
    </div>
    <% if(menu.length > 0) {%>
        <table class="table table-striped mt-6">
          <thead>
            <tr>
              <% if(user.role == 'user'){ %>
                <th>Mã</th>
                <th>Người sở hữu</th>
                <th>Thời gian đăng ký</th>
                <th>Trạng thái</th>
                <th>Sửa thông tin</th>
                <th>Chuyển quyền sở hữu</th>
              <% }else{%>
                <th>Mã</th>
                <th>Người sở hữu</th>
                <th>Thời gian đăng ký</th>
                <th>Cập nhật trạng thái</th>
              <%}%>
            </tr>
          </thead>
          <tbody>
            <% for(var element of menu){ %>
             <tr>
               <% if(user.role == 'user'){ %>
                  <td><%= element.key %> </a></td> 
                  <%if(element.value.StatusOwner == "Một người"){%>
                    <td><%= element.value.UserId %></td>
                  <%}else{%>
                    <td><%= element.value.coOwner %></td>
                  <%}%>
                  <td><%= element.value.ThoiGianDangKy %></td>
                  <%if(element.value.Status == "Chưa duyệt"){%>
                    <td class="text-red-500"><%= element.value.Status %></td>
                    <td> <a href="./detail/<%= element.key %>" class="bg-blue-700 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Sửa đổi thông tin</a> </td>
                  <%}else{%>
                    <td class="text-green-500"><%= element.value.Status %></td>
                    <td class="text-red-500">Không thể sửa đổi thông tin</td>
                  <%}%>
                  <td>
                    <% if(element.value.Status == "Đang chuyển"){ %>
                       <p class="text-green-500">Đất đang chuyển nhượng</p>
                    <%}else if(element.value.Status == "Chưa duyệt"){%>
                      <p class="text-red-500">Đất chưa được duyệt không thể chuyển</p>
                    <%}else{%>
                        <a href="./detail/<%= element.key %>" class="bg-green-700 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">Chuyển quyền sở hữu</a>
                    <%} %>
                  </td>
      
                <% }else{%>
                  <td> <a href="./detail/<%= element.Key %>"><%= element.key %> </a></td>
                  <%if(element.value.StatusOwner == "Một người"){%>
                    <td><%= element.value.UserId %></td>
                  <%}else{%>
                    <td><%= element.value.coOwner %></td>
                  <%}%>
                  <td><%= element.value.ThoiGianDangKy %></td>
                  <%if(element.value.Status == "Đang chuyển"){%>
                      <td class="text-green-700">Đất đang được chuyển</td>
                  <%}else{%>
      
                       <td>
                                    <div class="relative">
                                      <form id="formUpdateLand" action="/updateStatusLandAdmin" method="POST">
                                        <input type="hidden" name="key" value=<%= element.key %> />
                                        <select name="status" data-toggle="modal" data-target="#<%= element.key %>" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-1 px-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                                          <option 
                                          <%= 
                                                    element.value.Status === "Chưa duyệt" ? "selected" : ""
                                          %> 
                                          >Chưa duyệt</option>
                                          <option 
                                            <%= 
                                                    element.value.Status === "Đã duyệt" ? "selected" : ""
                                          %> 
                                          >Đã duyệt</option>
                                        </select>
                                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center text-gray-700">
                                          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                        </div>
                                                    <!-- Modal -->
                                  <div class="modal fade" id=<%= element.key %> tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Cập nhật trạng thái</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body" id="<%= element.key%>">
                                          Bạn muốn cập nhật trạng thái mã đất <%= element.key%>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <button id="updateLand" onclick="this.form.submit()" type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                      </form>
      
                                    </div>
                                </td>
                  <%}%>
                  
                <%}%>
                  </tr>
      
      
            <%}%>
            </tbody>
         
        </table>
            <%}else{%>
              <div class="h-64 w-full">
                <a href="/addAsset" class="w-full btn btn-outline-success mt-32">Bạn chưa có đất , Đăng ký ngay !</a>

              </div>
              <%}%>

    
    
  </div>

  




<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->




 <script>
   if(document.getElementById("delete")){
    document.getElementById("delete").addEventListener("click",function(){
      document.getElementById("flash").remove()
    })
   }

   document.getElementById("updateLand").addEventListener('click',function(){
     document.getElementById("formUpdateLand").submit();
   })



 </script>

<script src="/js/search/extention/choices.js"></script>
<script src="/js/search/extention/flatpickr.js"></script>
<script>
  flatpickr(".datepicker",
  {});

</script>
<script>
  const choices = new Choices('[data-trigger]',
  {
    searchEnabled: false,
    itemSelectText: '',
  });

</script>