<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="/css/register.css"> -->
        <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/util.css">
	  <link rel="stylesheet" type="text/css" href="/css/main.css">  
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet" />
    <link href="/css/search/main.css" rel="stylesheet" />
    
    <title>Land Administration</title>

    <style>

    </style>

</head>
<body>
 <div id="menu">
      <nav
        id="nav"
        class="container mx-auto flex items-center justify-between p-4 py-4 border-b border-gray-600"
      >
        <div>
          <a href="/"><img id="logo" src="/images/logo.png" alt="logo" style="height:50px;"/></a>
        </div>
        <div>
          <ul class="flex items-center">
            <p class="text-blue-500"> Xin chào <%= user.fullname%></p>
           
            &emsp;
            <button  id="notification">
                <i class="fa fa-bell" aria-hidden="true" style="color:lightgreen; font-size: 25px;" ></i>
                <% if(noty.countMessages > 0){ %>
                  <span id="countMessage" class="text-white relative rounded-lg py-1 px-2 bg-red-700" style="position: relative; bottom: 10px;"><%= noty.countMessages%></span>
                <%} %>
            </button>
            <% if(user.role == "user"){%>
            <li class="ml-12">
              <a href="/" class="text-blue-500 hover:text-red-500 focus:outline-none" style="font-size: 20px;">Đất của tôi</a>
            </li>

            <li class="ml-12">
              <a href="/addAsset" class="hover:text-red-500 focus:outline-none" style="font-size: 20px;">Thêm mới</a>
            </li>
            <li class="ml-12">
              <a href="/transferLandOwner" class="hover:text-red-500 focus:outline-none" style="font-size: 20px;">Đất chuyển</a>
            </li>
            <li class="ml-12">
              <a href="/receiveLand" class="hover:text-red-500 focus:outline-none" style="font-size: 20px;">Đất nhận</a>
            </li>
            <%}else if(user.role == "admin"){%>
              <li class="ml-12">
                <a href="/transferLandOwner" class="hover:text-red-500 focus:outline-none" style="font-size: 20px;">Thêm quản lý</a>
              </li>
              <li class="ml-12">
                <a href="/receiveLand" class="hover:text-red-500 focus:outline-none" style="font-size: 20px;">Xóa quản lý</a>
              </li>
            <%}%>

            <li class="ml-12 ">
              <form id="logout" action="/logout" method="post">
                <a onclick="document.getElementById('logout').submit()" class="nav-link" href="#"  style="font-size: 20px;">Thoát</a>
              </form>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div id="message" class="overflow-auto w-72 h-64 bg-gray-800 rounded-b-lg	" style="display: none; position: fixed; top:bottom; left: 60%; z-index: 10;">
      <ul>
              <% for(var element of noty.listMessages){%>
            <a>
            <li class="px-2 py-2 border-b-2 hover:bg-blue-800 text-white " > 
                <span class="px-2"><%= element.Message%></span>  
                <% if(!element.Seen){ %>
                  <span class="text-green-500">NEW</span>
                <%}%>
               <div class="px-2"><%= element.Time %> - <span><%= element.Date %></span></div>
             </li>
            </a>
 
          <%} %>

          
      </ul>
    </div>

    <input type="hidden" value="<%= noty.countMessages%>" id="MessageLength">
    <input type="hidden" value="<%= user.userId%>" id="UserId">

  
    <%- body %>
    
</body>
</html>


  <script type="module" src="/js/handleMessage.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>