
  
        <!-- <% 
        if(menu.length > 0){
        for(var element of menu){ 
      %>

          <tr>
           <td> <a href="./detail/<%= element.Key %>"><%= element.value.Owner %> </a></td>
            <td><%= element.value.IdentityCard %></td>
            <td><%= element.value.ThoiGianDangKy %></td>
            
          </tr>

        <% }
      }else{%>
        <h1>Empty</h1>
      <% }
      %> -->

            <% 
        if(menu.length > 0){
        for(var element of menu){ 
      %>

          <tr>
           <td> <a href="./detail/<%= element.Key %>"><%= element.value.Owner %> </a></td>
            <td><%= element.value.IdentityCard %></td>
            <td><%= element.value.ThoiGianDangKy %></td>
            
          </tr>

      <% }
        }else{
      %>
        <h1>Empty</h1>
      <% }
      %>